body {
    font-family: Arial, Helvetica, sans-serif;
    color: lightyellow;
    background-color: black;
}

div.wrapper {
    width: 100%;
    text-align: center;
}

div.game {
    display: inline-block;
    margin: 0 auto;
}

div.row {
    display: flex;
}

div.square {
    width: 40px;
    height: 40px;
    background-color: rgb(40, 40, 40);
    border: solid rgb(80, 80, 80) 1px;
}

div.path {
    background-color: lightgray;
}

div.seen {
    background-color: white;
}

div.seen-very-low {
    background-color: palegoldenrod;
}

div.seen-low {
    background-color: yellow;
}

div.seen-medium {
    background-color: orange;
}

div.seen-high {
    background-color: orangered;
}


div.tried {
    background-color: darkred;
}

div.goal {
    background-color: greenyellow;
}

img.game-piece {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#container {
    border: solid grey 5px;
}

div.bordered {
    border: solid chartreuse 1px;
}